[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
mecab-python3 = "*"
pillow = "*"
wordcloud = "*"
matplotlib = "*"
emoji = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python c_words.py"

